name: CI Pipeline
on:
  push:
  pull_request:
    branches:
      - develop
      - feature/*
jobs:
  build:
    name: Build the React application
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Configure Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.12.0
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build